@charset "UTF-8";

@font-face {
    font-family: Bebasneue;
    src: url(fontes/BebasNeue.otf);
}
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format('opentype');
}

:root {
    --cor01: #c5ebd6;
    --cor02: #83e1ad;
    --cor03: #3ddc84;
    --cor04: #2fa866;
    --cor05: #1a5c37;
    --cor06: #063d1e;

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque:'Bebasneue', cursive;
    --fonte-android: 'idroid', cursive;

}
* {
    padding:0px;
    margin:0px;
}
header {
    background-color: var(--cor05);
    min-height: 150px;
    text-align: center;   
    padding-top: 40px;  
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
}
header > h1 {
    color: white;
    font-family: var(--fonte-destaque);  
    font-size: 3em;
    margin-bottom:20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.24);
}
p {
    margin-top: 15px;
    margin-bottom: 15px;
}
header > p {
    color: white;
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    margin-bottom: 20px;
    max-width:500px;
    margin:auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
}
nav {
    background-color: var(--cor05);
    padding: 10px;
    Box-shadow: 0px 7px 9px, rgba(0, 0, 0, 0.295);
}
nav > a {
    color: var(--cor02);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav > a:hover {
    background-color: var(--cor02);
    color: var(--cor05);
    border-radius: 5px;
    transition-duration: 0.5s;
}
main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin-bottom: 30px;
    margin: auto;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
}
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}
 picture > img {
    width: 100%;
}

body {
    background-color: var(--cor01);
    font-family:var(--fonte-padrão)
    
}
a.externo::after {
    content: '00A0\1F517'
}
header > h1 {
    color:white;
    font-family:var(--fonte-destaque);
    font-weight: normal;
    
}
main > h1 {
    color: var(--cor05);
    font-family:var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em; 
}
div.vídeo{
    background-color: var(--cor06);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 50%;
}
div.vídeo > iframe {
position:absolute;
top: 5%;
left:5%;
width: 90%;
height: 90%;
}
main h2 {
    color: var(--cor05);
    font-size: 1.30em;
    background-image: linear-gradient(to right, var(--cor01), transparent);
    font-family: var(--fonte-android);
    text-indent: 5px;
    font-weight: normal;
}
main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}
main strong {
    color: var(--cor04);
    font-weight: bold;
    background-color: var(--cor01);
    padding: 2px 6px;

}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
}
main a:hover {
    text-decoration: underline;
    color: var(--cor04);
}
aside {
    background-color: var(--cor02);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.247);
}
aside > h3 {
    background-color: var(--cor05);
    color:white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
}
aside > ul {
    list-style-position: inside;
    columns: 2;
    list-style-type: "\2714\00A0";
}
footer {
    background-color: var(--cor06);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 3px;

    
}
footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor01);
}

